.about-container {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-image: url('https://wallpapercave.com/wp/wp7029317.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.about-container h2 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  color: burlywood;
}

.about-container p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: center;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom, burlywood, white);
}