.recipe-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    background-image: url('https://i.pinimg.com/originals/d3/6d/46/d36d462db827833805497d9ea78a1343.jpg');
    background-size: cover;
    margin-left: 20px;
    margin-right: 20px;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
  }
  
  .recipe-form label {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
  }
  
  .recipe-form input,
  .recipe-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .recipe-form input:focus,
  .recipe-form textarea:focus {
    outline: none;
  }
  
  .recipe-form .add-recipe-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background-color: #ff7f50;
    cursor: pointer;
  }
  
  .recipe-form .add-recipe-btn:hover {
    background-color: #ff6347;
  }
  
  .form-image {
    width: 100%;
    height: auto;
  }
  
  .add-recipe {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }